@charset "UTF-8";

.wrapper {
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.form {
	flex-direction: column;
	display: flex;
	padding: 2rem 10rem;
	width: 35rem;
}

.button{
	width: 7rem;
	margin: 1rem auto !important;
}