@charset "UTF-8";

body {
	display: flex;
	flex-direction: column;
}

h1, h2 {
	text-align: center;
}

.wrapper {
	justify-content: space-around;
	display: flex;
	padding: 3rem;
}

td, th {
	text-align: center !important;
}

.table-box {
	padding: 2rem;
}

.table {
	border-collapse: collapse;
	border: 1px solid rgba(0, 0, 0, 0.08);
	border-bottom: none;
	margin: 1rem 0;
}

th {
	background: #2596be !important;
	color: #ffffff !important;
}

.ui-datatable-odd {
	background-color: #f9f9f9 !important;
}

.table .ui-button{
	width: 5rem;
}