@charset "UTF-8";

body {
	display: flex;
	flex-direction: column;
}

.wrapper{
	display: flex;
}

h1, h2 {
	text-align: center;
}

.form {
	padding: 0 3rem;
}

td, th {
	text-align: center !important;
}

.table-box {
	padding: 2rem;
}

.table {
	border-collapse: collapse;
	border: 1px solid rgba(0, 0, 0, 0.08);
	border-bottom: none;
	margin: 1rem 0;
}

th {
	background: #2596be !important;
	color: #ffffff !important;
}

.ui-datatable-odd {
	background-color: #f9f9f9 !important;
}

.table .ui-button{
	width: 5rem;
}

body .ui-messages .ui-messages-error{
	padding: 1rem !important;
}

.add-button{
	margin-left: 2rem !important;
}